Repository KiringYJ/biblatex-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, validate-citekey-consistency, biber-validate-bib

.pre-commit-config.yaml:

# Run `pre-commit install` once, then hooks run on each commit.
# Update hook versions with: pre-commit autoupdate
repos:
  # Ruff: lint + format (run linter first so fixes get reformatted)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
      - id: ruff-check
        args: [--fix]        # apply safe autofixes
      - id: ruff-format

  # Type checking with pyright
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.405
    hooks:
      - id: pyright
        additional_dependencies: ["bibtexparser>=2.0.0b8,<3.0.0", "pytest>=8.3", "msgspec>=0.18.0"]  # Match pyproject.toml versions
        args: ["--project", "."]  # Explicitly use local pyrightconfig.json

  # Validate your JSON against schemas (e.g., identifier_collection)
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.3
    hooks:
      - id: check-jsonschema
        name: Validate identifier_collection.json
        files: ^data/identifier_collection\.json$
        args:
          - --schemafile
          - data/identifier_collection.schema.json

  # Tests and custom validation (run after linting/formatting but before complex validation)
  - repo: local
    hooks:
      # Run tests to ensure all functionality works before validating data files
      - id: pytest
        name: Run pytest
        entry: uv
        args: ["run", "python", "-m", "pytest", "tests/", "-v"]
        language: system
        pass_filenames: false
        files: ^(src/.*\.py|tests/.*\.py|pyproject\.toml)$

      - id: validate-citekey-consistency
        name: Validate citekey consistency and labels
        entry: uv
        args: ["run", "blx", "validate"]
        language: system
        files: ^(bib/library\.bib|data/add_order\.json|data/identifier_collection\.json)$
        pass_filenames: false

      # Direct biber validation of .bib file integrity
      - id: biber-validate-bib
        name: Validate library.bib with biber --tool
        entry: biber
        args: ["--tool", "--validate-datamodel", "--output-directory", "bib/generated", "bib/library.bib"]
        language: system
        files: ^bib/library\.bib$
        pass_filenames: false

      # Post-commit cleanup of staging backups
      - id: cleanup-staging-backups
        name: Clean up staging backup directories
        entry: powershell
        args: ["-Command", "if (Test-Path 'staging/backup-*') { Write-Host 'Cleaning up staging backup directories...'; Remove-Item 'staging/backup-*' -Recurse -Force; Write-Host 'âœ“ Staging backup cleanup completed' } else { Write-Host 'No staging backup directories to clean up' }"]
        language: system
        stages: [post-commit]
        always_run: true
        pass_filenames: false

  # Small hygiene checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: |
          (?x)(
            ^\.vscode/settings\.json$|
            ^pyrightconfig\.json$
          )

# Skip common build/virtualenv dirs and LaTeX outputs
exclude: |
  (?x)(
    ^\.venv/|
    ^build/|
    ^dist/|
    ^.+\.pdf$|
    ^.+\.aux$|
    ^.+\.bbl$|
    ^.+\.bcf$|
    ^.+\.blg$|
    ^.+\.fdb_latexmk$|
    ^.+\.fls$|
    ^.+\.log$|
    ^.+\.out$|
    ^.+\.run\.xml$|
    ^.+\.synctex\.gz$|
    ^latex/.+/(build|out)/|
    ^examples/.+/(build|out)/
  )

# Configure default hook types to include post-commit hooks
default_install_hook_types: [pre-commit, post-commit]

feat: add new articles and unpublished works to bibliography and update identifier collection
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
Due: validate-citekey-consistency, biber-validate-bib

feat: update identifiers for Vonk entry and enhance bibliography formatting
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
  latex/examples/alphabetic/main.tex
Due: validate-citekey-consistency, biber-validate-bib

feat: add new entries to bibliography and update identifier collection
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
Due: validate-citekey-consistency, biber-validate-bib

feat: update identifiers for Metelitsyn entry and enhance bibliography formatting
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
  latex/examples/alphabetic/main.tex
Due: validate-citekey-consistency, biber-validate-bib

feat: add Freitag book entry and update identifier collection
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
Due: validate-citekey-consistency, biber-validate-bib

feat: update ISBN mapping to isbn13 and sanitize identifier values
  src/biblib/template.py
Due: pytest

feat: correct title casing for Freitag book entry
  bib/library.bib
Due: validate-citekey-consistency, biber-validate-bib

feat: update LaTeX tools and recipes to use LuaLaTeX instead of XeLaTeX
  .vscode/settings.json
Due: none

feat: add Tizzano online entry and update identifier collection
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
Due: validate-citekey-consistency, biber-validate-bib

feat: add online resource for NIST Digital Library of Mathematical Functions and update identifier collection
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
Due: validate-citekey-consistency, biber-validate-bib

feat: enhance label generation to prioritize shorthand field and update related entries
  CLAUDE.md
  README.md
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
  src/biblib/generate.py
Due: pytest, validate-citekey-consistency, biber-validate-bib

Consolidate ruff configuration and update Python 3.13 across project
  .github/workflows/ci.yml
  .vscode/settings.json
  CLAUDE.md
  latex/examples/biblatex-spbasic/main.tex
  pyproject.toml
  pyrightconfig.json
  ruff.toml
  uv.lock
Due: pytest

refactor: remove explicit Python setup in CI workflow and update comments for clarity
  .github/workflows/ci.yml
Due: none

feat: add new entries and identifiers for recent publications in bibliography
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
Due: validate-citekey-consistency, biber-validate-bib

refactor: remove outdated entry for Rosenblatt from identifier collection and add number field for Gopakumar entry
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
Due: validate-citekey-consistency, biber-validate-bib

fix: update Spanier entry to correct year and identifiers in bibliography
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
Due: validate-citekey-consistency, biber-validate-bib

feat: add ISBN-13 identifier for Spanier entry in bibliography
  data/identifier_collection.json
Due: validate-citekey-consistency

feat: add normalization command to convert year fields to date in bibliography
  src/biblib/cli.py
  src/biblib/normalize/dates.py
  tests/test_normalize_dates.py
Due: pytest

feat: update bibliography entries to use 'date' field instead of 'year'
  README.md
  bib/library.bib
Due: validate-citekey-consistency, biber-validate-bib

feat: add publisher/location normalization functionality and tests
  README.md
  src/biblib/cli.py
  src/biblib/normalize/publisher.py
  tests/test_normalize_publisher.py
Due: pytest

feat: add location field to publisher normalization and skip articles in processing
  bib/library.bib
  src/biblib/normalize/publisher.py
  tests/test_normalize_publisher.py
Due: pytest, validate-citekey-consistency, biber-validate-bib

feat: add eprint field normalization functionality and tests
  README.md
  src/biblib/cli.py
  src/biblib/normalize/eprint.py
  tests/test_normalize_eprint.py
Due: pytest

feat: normalize eprinttype values to lowercase for consistency
  bib/library.bib
Due: validate-citekey-consistency, biber-validate-bib

feat: add LaTeX accent normalization functionality and tests
  README.md
  src/biblib/cli.py
  src/biblib/normalize/accents.py
  tests/test_normalize_accents.py
Due: pytest

feat: correct spelling and accentuation in reviewer names and journal titles
  bib/library.bib
Due: validate-citekey-consistency, biber-validate-bib

feat: add new book entries for "A First Course in Coding Theory" and "Lectures on Convex Geometry" with identifiers
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
Due: validate-citekey-consistency, biber-validate-bib

feat: add subtitle to non-perturbative topological string theory entry and correct capitalization in book title
  bib/library.bib
Due: validate-citekey-consistency, biber-validate-bib

feat: add new entries for Schellekens' lecture notes and Candelas' article with identifiers
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
Due: validate-citekey-consistency, biber-validate-bib

feat: add new article entry for Krefl and Mkrtchyan with identifiers and update order
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
Due: validate-citekey-consistency, biber-validate-bib

feat: add new article entry for Narukawa with identifiers and update order
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
Due: validate-citekey-consistency, biber-validate-bib

feat: add new article entry for Alexandrov and update identifier collection
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
Due: validate-citekey-consistency, biber-validate-bib

refactor: simplify generator type hints in test fixtures
  tests/test_sort.py
  tests/test_sync.py
Due: pytest

feat: add Python version file to specify environment version
  .python-version
Due: none

feat: add new articles and books to the bibliography and update identifiers
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
Due: validate-citekey-consistency, biber-validate-bib

fix: update page formatting in bibliographic entries
  bib/library.bib
Due: validate-citekey-consistency, biber-validate-bib

fix: correct casing in title for online entry
  bib/library.bib
Due: validate-citekey-consistency, biber-validate-bib

fix: correct title formatting and update page total fields in articles
  bib/library.bib
Due: validate-citekey-consistency, biber-validate-bib

feat: add Milewski's "Category Theory for Programmers" to bibliography and update identifiers
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
Due: validate-citekey-consistency, biber-validate-bib

feat: add new articles to bibliography and update identifiers
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
Due: validate-citekey-consistency, biber-validate-bib
