Repository KiringYJ/biblatex-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, validate-citekey-consistency, biber-validate-bib

pytest:
  name: Run pytest
  entry: uv
  args:
  - run
  - python
  - -m
  - pytest
  - tests/
  - -v
  language: system
  pass_filenames: false

validate-citekey-consistency:
  name: Validate citekey consistency and labels
  entry: uv
  args:
  - run
  - blx
  - validate
  language: system
  pass_filenames: false

biber-validate-bib:
  name: Validate library.bib with biber --tool
  entry: biber
  args:
  - --tool
  - --validate-datamodel
  - --output-directory
  - bib/generated
  - bib/library.bib
  language: system
  pass_filenames: false

refactor: adopt submodule + @import for claude-workbench shared rules
  .gitmodules
  CLAUDE.md
Due: none

refactor: replace claude-workbench submodule with /sync-workbench skill
  .claude/CLAUDE.md
  .claude/rules/core.md
  .claude/rules/python.md
  .gitmodules
  CLAUDE.md
Due: none

chore: enable commit-commands plugin from sync-workbench update
  .claude/settings.json
Due: none

feat(cli): add trivial-url normalizer and make normalize action optional
  src/biblio/cli.py
  src/biblio/normalize/url.py
  tests/test_normalize_url.py
Due: pytest

chore(data): stop tracking production data files and ignore biblio.toml
  .gitignore
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
Due: validate-citekey-consistency, biber-validate-bib

feat(template): enhance identifier extraction and ISBN conversion
  src/biblio/template.py
Due: pytest

docs(agent): share portable agent guidance across tools
  .agent-workbench.yaml
  .agents/prompts/audit-agent-workbench.md
  .agents/prompts/commit-workflow.md
  .agents/prompts/create-agent-skill.md
  .agents/prompts/create-guardrail.md
  .agents/prompts/linus-review.md
  .agents/prompts/loop-until-done.md
  .agents/prompts/repair-agent-workbench.md
  .agents/prompts/sync-agent-workbench.md
  .agents/skills/commit-workflow/SKILL.md
  .agents/skills/guardrail-authoring/SKILL.md
  .agents/skills/linus-review/SKILL.md
  .agents/skills/loop-until-done/SKILL.md
  .agents/skills/skill-authoring/SKILL.md
  .agents/skills/sync-agent-workbench/SKILL.md
  .claude/skills/commit-workflow/SKILL.md
  .claude/skills/guardrail-authoring/SKILL.md
  .claude/skills/linus-review/SKILL.md
  .claude/skills/loop-until-done/SKILL.md
  .claude/skills/skill-authoring/SKILL.md
  .claude/skills/sync-agent-workbench/SKILL.md
  .codex/config.toml
  .gitignore
  AGENTS.md
  AI_AGENT_GUIDE.md
  AI_AGENT_PROJECT.md
  CLAUDE.md
  GEMINI.md
  opencode.json
Due: none

fix(normalize): avoid treating publisher suffixes as locations
  README.md
  src/biblio/normalize/publisher.py
  tests/test_normalize_publisher.py
Due: pytest

chore(workspace): keep product history free of local tooling
  .agent-workbench.yaml
  .agents/prompts/audit-agent-workbench.md
  .agents/prompts/commit-workflow.md
  .agents/prompts/create-agent-skill.md
  .agents/prompts/create-guardrail.md
  .agents/prompts/linus-review.md
  .agents/prompts/loop-until-done.md
  .agents/prompts/repair-agent-workbench.md
  .agents/prompts/sync-agent-workbench.md
  .agents/skills/commit-workflow/SKILL.md
  .agents/skills/guardrail-authoring/SKILL.md
  .agents/skills/linus-review/SKILL.md
  .agents/skills/loop-until-done/SKILL.md
  .agents/skills/skill-authoring/SKILL.md
  .agents/skills/sync-agent-workbench/SKILL.md
  .claude/CLAUDE.md
  .claude/hooks.json
  .claude/rules/core.md
  .claude/rules/python.md
  .claude/settings.json
  .claude/settings.local.json
  .claude/skills/commit-workflow/SKILL.md
  .claude/skills/guardrail-authoring/SKILL.md
  .claude/skills/linus-review/SKILL.md
  .claude/skills/loop-until-done/SKILL.md
  .claude/skills/skill-authoring/SKILL.md
  .claude/skills/sync-agent-workbench/SKILL.md
  .codex/config.toml
  .vscode/settings.json
  AGENTS.md
  AI_AGENT_GUIDE.md
  AI_AGENT_PROJECT.md
  CLAUDE.md
  GEMINI.md
  opencode.json
Due: none

fix(normalize): emit plain spaces in MR reviewer names
  README.md
  src/biblio/cli.py
  src/biblio/normalize/accents.py
  tests/test_normalize_accents.py
Due: pytest

fix(template): keep arXiv eprints canonical
  README.md
  src/biblio/template.py
  tests/test_template.py
Due: pytest

feat(normalize): remove redundant arXiv URLs
  README.md
  src/biblio/cli.py
  src/biblio/normalize/url.py
  src/biblio/template.py
  tests/test_normalize_url.py
Due: pytest

refactor: make biblio a pure engine
  .gitignore
  .pre-commit-config.yaml
  README.md
  TODO.md
  bib/.gitkeep
  data/.gitkeep
  latex/examples/alphabetic/main.tex
  latex/examples/biblatex-spbasic/main.tex
  pyproject.toml
  pyrightconfig.json
  src/biblio/__init__.py
  src/biblio/cli.py
  tex/biblatex-yj/yj-standard.bbx
  tex/biblatex-yj/yj-standard.cbx
Due: pytest

docs: describe the coordinated bibliography engine
  README.md
  TODO.md
  pre-commit-data-hooks.yaml
Due: none

chore(workspace): promote shared configuration to main
  .agent-workbench.lock.json
  .agent-workbench.yaml
  .agents/prompts/audit-agent-workbench.md
  .agents/prompts/commit-workflow.md
  .agents/prompts/create-agent-skill.md
  .agents/prompts/create-guardrail.md
  .agents/prompts/linus-review.md
  .agents/prompts/loop-until-done.md
  .agents/prompts/repair-agent-workbench.md
  .agents/prompts/sync-agent-workbench.md
  .agents/skills/commit-workflow/SKILL.md
  .agents/skills/guardrail-authoring/SKILL.md
  .agents/skills/linus-review/SKILL.md
  .agents/skills/loop-until-done/SKILL.md
  .agents/skills/skill-authoring/SKILL.md
  .agents/skills/sync-agent-workbench/SKILL.md
  .claude/CLAUDE.md
  .claude/hooks.json
  .claude/rules/core.md
  .claude/rules/python.md
  .claude/settings.json
  .claude/settings.local.json
  .claude/skills/commit-workflow/SKILL.md
  .claude/skills/guardrail-authoring/SKILL.md
  .claude/skills/linus-review/SKILL.md
  .claude/skills/loop-until-done/SKILL.md
  .claude/skills/skill-authoring/SKILL.md
  .claude/skills/sync-agent-workbench/SKILL.md
  .codex/config.toml
  .vscode/settings.json
  AGENTS.md
  AI_AGENT_GUIDE.md
  AI_AGENT_PROJECT.md
  CLAUDE.md
  GEMINI.md
  opencode.json
Due: none

chore(workspace): sync tracked agent configuration
  .agent-workbench.lock.json
  .agent-workbench.yaml
  .agents/prompts/audit-agent-workbench.md
  .agents/prompts/repair-agent-workbench.md
  .agents/prompts/sync-agent-workbench.md
  .agents/skills/loop-until-done/SKILL.md
  .agents/skills/skill-authoring/SKILL.md
  .agents/skills/sync-agent-workbench/SKILL.md
  .agents/skills/sync-agent-workbench/scripts/migrate_lockfile.rb
  .agents/skills/sync-agent-workbench/scripts/verify_skill_mirror.rb
  .claude/skills/commit-workflow/SKILL.md
  .claude/skills/guardrail-authoring/SKILL.md
  .claude/skills/linus-review/SKILL.md
  .claude/skills/loop-until-done/SKILL.md
  .claude/skills/skill-authoring/SKILL.md
  .claude/skills/sync-agent-workbench/SKILL.md
  .claude/skills/sync-agent-workbench/scripts/migrate_lockfile.rb
  .claude/skills/sync-agent-workbench/scripts/verify_skill_mirror.rb
  AI_AGENT_GUIDE.md
  CLAUDE.md
  GEMINI.md
Due: none

docs: remove maintainer checkout path
  AI_AGENT_PROJECT.md
  README.md
Due: none

fix(storage): type-check Windows locking on Linux
  src/biblio/storage.py
Due: pytest

feat: automate deterministic bibliography compliance
  AI_AGENT_PROJECT.md
  README.md
  src/biblio/audit.py
  src/biblio/cli.py
  src/biblio/commands.py
  src/biblio/normalize/journal.py
  src/biblio/normalize/names.py
  src/biblio/normalize/pagination.py
  src/biblio/normalize/pipeline.py
  src/biblio/results.py
  tests/test_audit.py
  tests/test_cli.py
  tests/test_commands.py
  tests/test_normalize_journal.py
  tests/test_normalize_names.py
  tests/test_normalize_pagination.py
  tests/test_normalize_pipeline.py
Due: pytest

feat(lifecycle): restore reviewable staging intake
  AI_AGENT_PROJECT.md
  README.md
  src/biblio/add_entries.py
  src/biblio/cli.py
  src/biblio/commands.py
  src/biblio/results.py
  tests/test_cli.py
  tests/test_commands.py
Due: pytest

fix(normalize): handle unbraced special accent targets
  src/biblio/normalize/accents.py
  tests/test_normalize_accents.py
Due: pytest

fix(normalize): harden automatic bibliography rewrites
  AI_AGENT_PROJECT.md
  README.md
  src/biblio/audit.py
  src/biblio/cli.py
  src/biblio/commands.py
  src/biblio/normalize/accents.py
  src/biblio/normalize/dates.py
  src/biblio/normalize/eprint.py
  src/biblio/normalize/isbn.py
  src/biblio/normalize/journal.py
  src/biblio/normalize/mr.py
  src/biblio/normalize/names.py
  src/biblio/normalize/pagination.py
  src/biblio/normalize/pipeline.py
  src/biblio/normalize/publisher.py
  src/biblio/normalize/tex.py
  src/biblio/normalize/url.py
  tests/integration/test_normalize_text_biber.py
  tests/test_audit.py
  tests/test_cli.py
  tests/test_commands.py
  tests/test_isbn_workspace_contract.py
  tests/test_normalize_accents.py
  tests/test_normalize_dates.py
  tests/test_normalize_eprint.py
  tests/test_normalize_isbn.py
  tests/test_normalize_journal.py
  tests/test_normalize_mr.py
  tests/test_normalize_names.py
  tests/test_normalize_pagination.py
  tests/test_normalize_pipeline.py
  tests/test_normalize_publisher.py
  tests/test_normalize_safety.py
  tests/test_normalize_url.py
Due: pytest

fix(normalize): restore arXiv misc-to-online conversion
  AI_AGENT_PROJECT.md
  README.md
  src/biblio/normalize/eprint.py
  tests/test_commands.py
  tests/test_normalize_eprint.py
  tests/test_normalize_pipeline.py
  tests/test_normalize_safety.py
Due: pytest

fix(cli)!: make full JSON output opt-in
  AI_AGENT_PROJECT.md
  README.md
  src/biblio/cli.py
  tests/test_cli.py
Due: pytest

fix(normalize): complete DOI and LaTeX cleanup
  AI_AGENT_PROJECT.md
  README.md
  src/biblio/normalize/accents.py
  src/biblio/normalize/url.py
  tests/integration/test_normalize_text_biber.py
  tests/test_commands.py
  tests/test_normalize_accents.py
  tests/test_normalize_safety.py
  tests/test_normalize_url.py
Due: pytest

fix(normalize): remove redundant DOI and URL representations
  AI_AGENT_PROJECT.md
  README.md
  src/biblio/add_entries.py
  src/biblio/commands.py
  src/biblio/normalize/doi.py
  src/biblio/normalize/eprint.py
  src/biblio/normalize/inventory.py
  src/biblio/normalize/pipeline.py
  src/biblio/normalize/url.py
  tests/test_commands.py
  tests/test_normalize_doi.py
  tests/test_normalize_inventory.py
  tests/test_normalize_safety.py
Due: pytest

test(integration): validate biber aliases by behavior
  tests/integration/biber_alias/test_biber_alias.py
Due: pytest

fix(lifecycle): accept serialized line endings during cleanup
  src/biblio/commands.py
  tests/test_commands.py
Due: pytest

docs(roadmap): define CSL and enrichment boundaries
  TODO.md
Due: none

fix(domain): treat contained ISBNs as container metadata
  AI_AGENT_PROJECT.md
  README.md
  src/biblio/add_entries.py
  src/biblio/commands.py
  src/biblio/identifier_collection.py
  src/biblio/workspace.py
  tests/test_commands.py
  tests/test_identifier_collection.py
  tests/test_reconcile.py
  tests/test_workspace.py
Due: pytest

feat(domain): add local identities for contained contributions
  AI_AGENT_PROJECT.md
  README.md
  src/biblio/add_entries.py
  src/biblio/identifier_collection.py
  src/biblio/schema/identifier_collection.schema.json
  src/biblio/workspace.py
  tests/test_add_entries.py
  tests/test_commands.py
  tests/test_identifier_collection.py
  tests/test_identifier_collection_schema.py
  tests/test_workspace.py
Due: pytest

Path conditions:
  pytest: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml)$, but not: (?x)(
  ^\.venv/|
  ^build/|
  ^dist/|
  ^.+\.pdf$|
  ^.+\.aux$|
  ^.+\.bbl$|
  ^.+\.bcf$|
  ^.+\.blg$|
  ^.+\.fdb_latexmk$|
  ^.+\.fls$|
  ^.+\.log$|
  ^.+\.out$|
  ^.+\.run\.xml$|
  ^.+\.synctex\.gz$|
  ^latex/.+/(build|out)/|
  ^examples/.+/(build|out)/
)

  validate-citekey-consistency: any of: ^(bib/library\.bib|data/add_order\.json|data/identifier_collection\.json)$, but not: (?x)(
  ^\.venv/|
  ^build/|
  ^dist/|
  ^.+\.pdf$|
  ^.+\.aux$|
  ^.+\.bbl$|
  ^.+\.bcf$|
  ^.+\.blg$|
  ^.+\.fdb_latexmk$|
  ^.+\.fls$|
  ^.+\.log$|
  ^.+\.out$|
  ^.+\.run\.xml$|
  ^.+\.synctex\.gz$|
  ^latex/.+/(build|out)/|
  ^examples/.+/(build|out)/
)

  biber-validate-bib: any of: ^bib/library\.bib$, but not: (?x)(
  ^\.venv/|
  ^build/|
  ^dist/|
  ^.+\.pdf$|
  ^.+\.aux$|
  ^.+\.bbl$|
  ^.+\.bcf$|
  ^.+\.blg$|
  ^.+\.fdb_latexmk$|
  ^.+\.fls$|
  ^.+\.log$|
  ^.+\.out$|
  ^.+\.run\.xml$|
  ^.+\.synctex\.gz$|
  ^latex/.+/(build|out)/|
  ^examples/.+/(build|out)/
)

