Repository KiringYJ/biblatex-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, validate-citekey-consistency, biber-validate-bib

.pre-commit-config.yaml:

# Run `pre-commit install` once, then hooks run on each commit.
# Update hook versions with: pre-commit autoupdate
repos:
  # Ruff: lint + format (run linter first so fixes get reformatted)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
      - id: ruff-check
        args: [--fix]        # apply safe autofixes
      - id: ruff-format

  # Type checking with pyright
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.405
    hooks:
      - id: pyright
        additional_dependencies: ["bibtexparser>=2.0.0b8,<3.0.0", "pytest>=8.3", "msgspec>=0.18.0"]  # Match pyproject.toml versions
        args: ["--project", "."]  # Explicitly use local pyrightconfig.json

  # Validate your JSON against schemas (e.g., identifier_collection)
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.3
    hooks:
      - id: check-jsonschema
        name: Validate identifier_collection.json
        files: ^data/identifier_collection\.json$
        args:
          - --schemafile
          - data/identifier_collection.schema.json

  # Tests and custom validation (run after linting/formatting but before complex validation)
  - repo: local
    hooks:
      # Run tests to ensure all functionality works before validating data files
      - id: pytest
        name: Run pytest
        entry: uv
        args: ["run", "python", "-m", "pytest", "tests/", "-v"]
        language: system
        pass_filenames: false
        files: ^(src/.*\.py|tests/.*\.py|pyproject\.toml)$

      - id: validate-citekey-consistency
        name: Validate citekey consistency and labels
        entry: uv
        args: ["run", "blx", "validate"]
        language: system
        files: ^(bib/library\.bib|data/add_order\.json|data/identifier_collection\.json)$
        pass_filenames: false

      # Direct biber validation of .bib file integrity
      - id: biber-validate-bib
        name: Validate library.bib with biber --tool
        entry: biber
        args: ["--tool", "--validate-datamodel", "--output-directory", "bib/generated", "bib/library.bib"]
        language: system
        files: ^bib/library\.bib$
        pass_filenames: false

      # Post-commit cleanup of staging backups
      - id: cleanup-staging-backups
        name: Clean up staging backup directories
        entry: powershell
        args: ["-Command", "if (Test-Path 'staging/backup-*') { Write-Host 'Cleaning up staging backup directories...'; Remove-Item 'staging/backup-*' -Recurse -Force; Write-Host 'âœ“ Staging backup cleanup completed' } else { Write-Host 'No staging backup directories to clean up' }"]
        language: system
        stages: [post-commit]
        always_run: true
        pass_filenames: false

  # Small hygiene checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: |
          (?x)(
            ^\.vscode/settings\.json$|
            ^pyrightconfig\.json$
          )

# Skip common build/virtualenv dirs and LaTeX outputs
exclude: |
  (?x)(
    ^\.venv/|
    ^build/|
    ^dist/|
    ^.+\.pdf$|
    ^.+\.aux$|
    ^.+\.bbl$|
    ^.+\.bcf$|
    ^.+\.blg$|
    ^.+\.fdb_latexmk$|
    ^.+\.fls$|
    ^.+\.log$|
    ^.+\.out$|
    ^.+\.run\.xml$|
    ^.+\.synctex\.gz$|
    ^latex/.+/(build|out)/|
    ^examples/.+/(build|out)/
  )

# Configure default hook types to include post-commit hooks
default_install_hook_types: [pre-commit, post-commit]

feat: enhance identifier extraction for arXiv entries and improve field mapping
  src/biblib/template.py
Due: pytest

fix: update eprint fields for arXiv entry to use correct naming conventions
  bib/library.bib
Due: validate-citekey-consistency, biber-validate-bib

feat: add normalization hooks for LaTeX accents, dates, and eprint fields
  .pre-commit-config.yaml
Due: none

feat: add new report and book entries to bibliography and update identifier collection
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
Due: validate-citekey-consistency, biber-validate-bib

fix: correct capitalization in report title for consistency
  bib/library.bib
Due: validate-citekey-consistency, biber-validate-bib

fix: update report type from 'Technical Report' to 'techreport' for consistency
  bib/library.bib
Due: validate-citekey-consistency, biber-validate-bib

fix: update author to Bateman Manuscript Project and add editor for consistency
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
Due: validate-citekey-consistency, biber-validate-bib

feat: add new articles and book entries to bibliography and update identifier collection
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
Due: validate-citekey-consistency, biber-validate-bib

fix: add location to publisher entry for consistency
  bib/library.bib
Due: validate-citekey-consistency, biber-validate-bib

feat: add Whittaker's "A Course of Modern Analysis" to bibliography and update identifier collection
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
Due: validate-citekey-consistency, biber-validate-bib

fix: update Hadamard and Borel article entries with correct publication years
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
  src/biblib/generate.py
  tests/test_generate.py
Due: pytest, validate-citekey-consistency, biber-validate-bib

fix: correct formatting of report number in University of Kent entry
  bib/library.bib
Due: validate-citekey-consistency, biber-validate-bib

feat: add Sauzin's "Introduction to $1$-summability and resurgence" to bibliography and update identifier collection
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
Due: validate-citekey-consistency, biber-validate-bib

feat: add Lozano-Robledo's "Number Theory and Geometry" to bibliography and update identifier collection
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
Due: validate-citekey-consistency, biber-validate-bib

feat: add multiple new entries to bibliography and update identifier collection
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
  src/biblib/add_entries.py
  src/biblib/cli.py
  src/biblib/normalize/eprint.py
Due: pytest, validate-citekey-consistency, biber-validate-bib

fix: improve formatting and consistency in bibliography entries
  bib/library.bib
Due: validate-citekey-consistency, biber-validate-bib

fix: remove unnecessary fields from Aganagic entry in bibliography
  bib/library.bib
Due: validate-citekey-consistency, biber-validate-bib

fix: update edition fields for Knapp and Chang entries in bibliography
  bib/library.bib
Due: validate-citekey-consistency, biber-validate-bib

feat: add new articles and identifiers to bibliography and update order
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
Due: validate-citekey-consistency, biber-validate-bib

fix: remove Python type checking configuration from project settings
  .vscode/settings.json
  pyproject.toml
Due: pytest

refactor: replace pyright with ty for type checking across the project
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  pyproject.toml
  uv.lock
Due: pytest

feat: add new entries and identifiers to bibliography and update order
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
Due: validate-citekey-consistency, biber-validate-bib

fix: update booktitle and add booksubtitle for Bayer incollection entry
  bib/library.bib
Due: validate-citekey-consistency, biber-validate-bib

feat: add new book and articles entries with identifiers to bibliography
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
Due: validate-citekey-consistency, biber-validate-bib

fix: correct title casing for Tapp's book entry
  bib/library.bib
Due: validate-citekey-consistency, biber-validate-bib

feat: add new entries and identifiers for Marker, Barrow, Zalta, and Zee to bibliography
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
Due: validate-citekey-consistency, biber-validate-bib

feat: add ISBN normalization functionality and tests
  src/biblib/cli.py
  src/biblib/normalize/isbn.py
  tests/test_normalize_isbn.py
Due: pytest

fix: correct booktitle formatting for Barrow's incollection entry
  bib/library.bib
Due: validate-citekey-consistency, biber-validate-bib

fix: update author name for Zee's incollection entry
  bib/library.bib
Due: validate-citekey-consistency, biber-validate-bib

refactor: add .claude/ configuration and slim down CLAUDE.md
  .claude/hooks.json
  .claude/rules/interaction.md
  .claude/rules/naming.md
  .claude/rules/output.md
  .claude/rules/review.md
  .claude/rules/workflow.md
  .claude/scripts/default-modes.mjs
  .claude/scripts/enforce-no-cd-compound.mjs
  .claude/settings.json
  .claude/settings.local.json
  .claude/skills/commit/SKILL.md
  .claude/skills/optimize/SKILL.md
  .claude/skills/pre-push/SKILL.md
  .claude/skills/review/SKILL.md
  .gitignore
  .vscode/settings.json
  CLAUDE.md
  bib/library.bib
Due: validate-citekey-consistency, biber-validate-bib

feat(cli): add ISBN normalization pre-commit hook
  .pre-commit-config.yaml
  bib/library.bib
  data/add_order.json
  data/identifier_collection.json
Due: validate-citekey-consistency, biber-validate-bib

fix(cli): prevent accent normalizer from mangling font commands
  bib/library.bib
  src/biblib/normalize/accents.py
  tests/test_normalize_accents.py
Due: pytest, validate-citekey-consistency, biber-validate-bib

fix(bib): correct formatting of mathematical notation in Goncharov's incollection entry
  bib/library.bib
Due: validate-citekey-consistency, biber-validate-bib

feat: add ty LSP plugin for Python type checking
  .claude/plugins/ty-marketplace/.claude-plugin/marketplace.json
  .claude/plugins/ty-marketplace/plugins/ty-lsp/.claude-plugin/plugin.json
  .claude/settings.json
Due: none

refactor: migrate hooks to hookify rules
  .claude/hookify.block-compound-cd.local.md
  .claude/hookify.ultrathink-mode.local.md
  .claude/hooks.json
  .claude/scripts/enforce-no-cd-compound.mjs
  .claude/settings.json
Due: none

refactor: migrate local rules/skills/hooks to claude-workbench plugins
  .claude/hookify.block-compound-cd.local.md
  .claude/hookify.ultrathink-mode.local.md
  .claude/plugins/ty-marketplace/.claude-plugin/marketplace.json
  .claude/plugins/ty-marketplace/plugins/ty-lsp/.claude-plugin/plugin.json
  .claude/rules/interaction.md
  .claude/rules/naming.md
  .claude/rules/output.md
  .claude/rules/review.md
  .claude/rules/workflow.md
  .claude/settings.json
  .claude/skills/commit/SKILL.md
  .claude/skills/optimize/SKILL.md
  .claude/skills/pre-push/SKILL.md
  .claude/skills/review/SKILL.md
  CLAUDE.md
Due: none

chore: update plugin config format and enable auto-update
  .claude/settings.json
Due: none

refactor: separate tool from data with configurable workspace
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  bib/.gitkeep
  data/.gitkeep
  pre-commit-data-hooks.yaml
  src/biblib/add_entries.py
  src/biblib/cli.py
  src/biblib/config.py
  src/biblib/exceptions.py
  src/biblib/init.py
  src/biblib/schema/__init__.py
  src/biblib/schema/identifier_collection.schema.json
  src/biblib/template.py
  tests/test_add_entries.py
  tests/test_config.py
  tests/test_init.py
Due: pytest

refactor: rename package biblib→biblio and CLI blx→biblio
  .claude/settings.local.json
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  pre-commit-data-hooks.yaml
  pyproject.toml
  src/biblio/__init__.py
  src/biblio/add_entries.py
  src/biblio/cli.py
  src/biblio/config.py
  src/biblio/exceptions.py
  src/biblio/generate.py
  src/biblio/init.py
  src/biblio/normalize/accents.py
  src/biblio/normalize/dates.py
  src/biblio/normalize/eprint.py
  src/biblio/normalize/isbn.py
  src/biblio/normalize/publisher.py
  src/biblio/schema/__init__.py
  src/biblio/schema/identifier_collection.schema.json
  src/biblio/sort.py
  src/biblio/sync.py
  src/biblio/template.py
  src/biblio/types.py
  src/biblio/validate.py
  tests/test_add_entries.py
  tests/test_config.py
  tests/test_generate.py
  tests/test_init.py
  tests/test_normalize_accents.py
  tests/test_normalize_dates.py
  tests/test_normalize_eprint.py
  tests/test_normalize_isbn.py
  tests/test_normalize_publisher.py
  tests/test_sort.py
  tests/test_sync.py
  tests/test_validate.py
  uv.lock
Due: pytest

docs: update CLAUDE.md, README.md to match current codebase and add TODO.md
  CLAUDE.md
  README.md
  TODO.md
Due: none
